<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fonts</key>
	<dict>
		<key>bandTitleFontName</key>
		<string>HelveticaNeue-Light</string>
		<key>bandTitleFontSize</key>
		<integer>19</integer>
		<key>bandMessageFontName</key>
		<string>HelveticaNeue-Light</string>
		<key>bandMessageFontSize</key>
		<integer>13</integer>
		<key>noteTitleFontName</key>
		<string>HelveticaNeue-Light</string>
		<key>noteTitleFontSize</key>
		<integer>19</integer>
		<key>noteContentFontName</key>
		<string>HelveticaNeue-Light</string>
		<key>noteContentFontSize</key>
		<integer>13</integer>
	</dict>
	<key>colors</key>
	<dict>
		<key>backgroundColorHex</key>
		<string>5c8dd7</string>
		<key>textsColorHex</key>
		<string>ffffff</string>
		<key>statusBarStyleIndex</key>
		<integer>1</integer>
	</dict>
	<key>notes</key>
	<array>
		<dict>
			<key>bandTitleText</key>
			<string>What&apos;s new in v%@</string>
			<key>bandMessageText</key>
			<string>Tap to learn about the new features !</string>
			<key>noteTitleText</key>
			<string>What&apos;s New in v2.1</string>
			<key>noteContentText</key>
			<string>Dear users,
Connect just keeps getting better for you:

New features :
- Use of CC and BBC in group emails.
- New fields are available when editing a contact.
- Edit default numbers and emails of a contact.
- Sort alphabetically or manually in the lists.
- Enabled the display of the contact count by list.

Improvements:
- We added labels on swipes.
- Phone extensions work when saving a phone number.
- Settings have been updated and reorganized.
- Performances and speed have been improved.
- User Experience has been glabally improved.

Bug fixes :
- Various bugs and issues have been fixed.

Thanks a lot, the Connect Team</string>
			<key>version</key>
			<string>2.1</string>
		</dict>
	</array>
</dict>
</plist>
