<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fonts</key>
	<dict>
		<key>bandTitleFontName</key>
		<string>HelveticaNeue-Light</string>
		<key>bandTitleFontSize</key>
		<integer>19</integer>
		<key>bandMessageFontName</key>
		<string>HelveticaNeue-Light</string>
		<key>bandMessageFontSize</key>
		<integer>13</integer>
		<key>noteTitleFontName</key>
		<string>HelveticaNeue-Light</string>
		<key>noteTitleFontSize</key>
		<integer>19</integer>
		<key>noteContentFontName</key>
		<string>HelveticaNeue-Light</string>
		<key>noteContentFontSize</key>
		<integer>13</integer>
	</dict>
	<key>colors</key>
	<dict>
		<key>backgroundColorHex</key>
		<string>5c8dd7</string>
		<key>textsColorHex</key>
		<string>ffffff</string>
		<key>statusBarStyleIndex</key>
		<integer>1</integer>
	</dict>
	<key>notes</key>
	<array>
		<dict>
			<key>bandTitleText</key>
			<string>What&apos;s new in v%@</string>
			<key>bandMessageText</key>
			<string>Tap to learn about the new features !</string>
			<key>noteTitleText</key>
			<string>What&apos;s New in v1.0</string>
			<key>noteContentText</key>
			<string>Dear users,

This is an empty release note.</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
